
<div class="navbar navbar-default" role="navigation">

    <div class="nav navbar-nav navbar-left">
         <a class="navbar-brand" href="/">懂你时间</a>
    </div>

    <div class="nav navbar-nav navbar-right">
          <li><%= link_to('管理员界面', admin_products_path) %></li>
          <li><%= link_to('学习中心', '/products') %></li>
          <li><%= link_to('帮助中心', '/products') %></li>

          <% if !current_user %>
    <li><%= link_to("注册",new_user_registration_path)%></li>
    <li><%= link_to("登录", new_user_session_path) %></li>
   <% else %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Hi!, <%= current_user.email %>
          <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
          <li> <%= link_to("退出", destroy_user_session_path, method: :delete) %> </li>
      </ul>
    </li>
  <% end %>

    </div>

</div>
